
$red: #ef3e42;
$red--dark: #a31a1d;
$red--light: #f26568;
$red--lighter: #f79ea0;
$red--lightest: #fdebec;

$green: #0aa32d;
$green--dark: #035716;
$green--light: #44bc46;

$blue: #0066b3;
$blue--dark: #003a67;
$blue--light: #3385c2;
$blue--lighter: #7fb2d9;
$blue--lightest: #e5eff7;

$grey: #4d4d5e;
$grey--dark: #000018;
$grey--light: #9999a3;
$grey--lighter: #c2c2c8;
$grey--lightest: #e5e5e7;

$black: #000;
$black--transparent: rgba($black, .4);
$white: #fff;
$white--transparent: rgba($white, .4);

$transparent: rgba($white, 0);

$primary: $blue;
$secondary: $red;

$link: #1a9cff;
$link--hover: #76c4ff;
