
html {
    height: 100%;
    overflow: hidden;
}

body {
    color: $grey;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: $font-size;
    height: 100%;
    overflow: auto;
    position: relative;

    * {
        box-sizing: border-box;
        letter-spacing: 0.0625em;
    }
}

a {
    color: $link;
    &:hover {
        color: $link--hover;
        transition: .2s ease-in-out background-color;
    }
}

h1, h2, h3, h4, p {
    font-weight: 200;
    margin: 0;
    margin-bottom: $margin;
}

h1 {
    font-size: 44px;
    margin-bottom: 0;
}
h2, .h2 {
    font-size: 33px;
}
h3, .h3 {
    font-size: 25px;
}
h4, .h4 {
    font-size: 19px;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: $N;
}

/*===============================
=            Classes            =
===============================*/

.nasa-branding {
    align-items: center;
    display: flex;
    justify-content: flex-end;

    > div {
        align-items: center;
        display: flex;
        height: $S;
        justify-content: flex-end;

        &:first-child {
            border-right: 1px solid $grey--lighter;
            margin-right: ($nasa-logo-size - $S) / -2;
            padding-right: $margin / 2;
        }
        &:last-child {
            padding-left: $margin;
        }
    }
    img {
        @include square($nasa-logo-size);
        margin-right: ($nasa-logo-size - $S) / -2;
    }
    p {
        font-size: $T;
        line-height: $T * 2;
    }
}

